<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>484938576867-fn98hap4jqogmhpu5qvtaf4vl2lrvh74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484938576867-fn98hap4jqogmhpu5qvtaf4vl2lrvh74</string>
	<key>API_KEY</key>
	<string>AIzaSyDqkKaQQSk2pDcOQlBnxdn8HThwiOI8QGI</string>
	<key>GCM_SENDER_ID</key>
	<string>484938576867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshatsharma.Edio</string>
	<key>PROJECT_ID</key>
	<string>edio-f7a30</string>
	<key>STORAGE_BUCKET</key>
	<string>edio-f7a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484938576867:ios:4bc27ad708df02b3</string>
	<key>DATABASE_URL</key>
	<string>https://edio-f7a30.firebaseio.com</string>
</dict>
</plist>